@mixin MyFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}


#signUpPage {
    width: 100%;
    height: 90vh;
    display: flex;

    .signUpLeftBox {
        width: 60%;
        height: 100%;
        @include MyFlex();
        overflow: hidden;
        border-radius: 5px;

        img {
            max-width: 130%;
        }
    }

    .signUpRightBox {
        height: 100%;
        width: 40%;
        @include MyFlex();
        flex-direction: column;

        .logUpBox {
            width: 55%;
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            padding: 0px 20px;

            h1 {
                font-size: 35px;
            }

            p {
                margin-top: -10px;
                font-size: 20px;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    height: 50px;
                    font-size: 18px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid gray;
                    outline: none;
                }
                input::placeholder{
                    color: rgba(128, 128, 128, 0.692);
                }
            }

            .crateAccountBtn {
                margin-top: 20px;
                background-color: #DB4444;
                width: 100%;
                height: 50px;
                @include MyFlex();
                font-size: 23px;
                color: white;
                border-radius: 5px;
            }

            .signUpGoogle {
                border-radius: 5px;
                border: 1px solid gray;
                background-color: white;
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                // position: relative;
                font-size: 20px;
            }

            .logInBox {
                @include MyFlex();
                color: gray;
                font-size: 18px;
                span{
                    color: black;
                    text-decoration: underline;
                    margin-left: 10px;
                }
            }
        }

    }
}