.NewArrivalArea{
    display: flex;
    gap: 300px;
    .NewArrivalBox1{
      img{
        position: absolute;
      }
        color:red;
        a{
            color:red;
        }
        .ArrivalText{
            position: relative;
        }
    }
    .NewArrivalBox2{
    //    .NewArrivalBox2-one{

    //    } 
       .NewArrivalBox3-main{
        display: flex;
        // .NewArrivalBox3-three{

        // }
       }
    }
}