#SalersActive {
    height: 60vh;

    .SalersActiveBox {
        padding: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .deliveryyBox {
            border: 1px solid rgb(165, 162, 162);
            width: 300px;
            height: 200px;
            text-align: center;

            &:hover {
                border: 1px solid #DB4444;
                background-color: #DB4444;
                color: white;
                transition: 0.5s;
            }

            h1 {
                font-size: 30px;
            }

            p {
                font-size: 18px;
            }

            .deliveryygreyIcon {
                background-color: grey;
                width: 70px;
                height: 70px;
                align-items: center;
                display: flex;
                justify-content: center;
                border-radius: 50%;
                margin-left: 110px;
                margin-top: 20px;


                .deliveryyIcon {
                    font-size: 35px;
                    margin-top: 30px;
                    background-color: black;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-bottom: 30px;
                    color: white;

                    &:hover {
                        color: black;
                        background-color: white;
                    }

                    .TbTruckk {
                        margin-top: 6px;
                    }



                }
            }
        }
    }
}